<div class="panel panel-default">
  <table class="table table-condensed table-bordered table-striped price-table" >
    <thead>
      <tr>
        <th colspan="2" width="25%" class="info">
          High Buyer
        </th>
        <th colspan="2" width="25%" class="danger">
          Low Seller
        </th>
        <th colspan="3" width="40%" class="success">
          Latest Transactions
        </th>
      </tr>
      <tr>
        <th width="12.5%">
          Price
        </th>
        <th width="12.5%">
          Quantity
        </th>
        <th width="12.5%">
          Price
        </th>
        <th width="12.5%">
          Quantity
        </th>
        <th width="25%" title="All times in UTC">
          Time*
        </th>
        <th width="12.5%">
          Price
        </th>
        <th width="12.5%">
          Quantity
        </th>
      </tr>
    </thead>
    <tbody>
      <% [@bids.count, @listings.count, @sales.count].max.times do |row| %>
        <tr>
          <td> <%= ( row < @bids.count ? "$"+@bids[row].price.to_s : "" ) %> </td>
          <td> <%= ( row < @bids.count ? @bids[row].num_bids : "" ) %> </td>
          <td> <%= ( row < @listings.count ? "$"+@listings[row].price.to_s : "" ) %> </td>
          <td> <%= ( row < @listings.count ? @listings[row].num_listings : "" ) %> </td>
          <td class="price_table_date"> <%= ( row < @sales.count ? @sales[row].truncated_finish.strftime("%b %e, %Y - %k:%M").to_s : "" ) %> </td>
          <td> <%= ( row < @sales.count ? "$"+@sales[row].price.to_s : "" ) %> </td>
          <td> <%= ( row < @sales.count ? @sales[row].num_sales : "" ) %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>