<div class="panel panel-default">
  <table class="table table-condensed table-striped table-bordered" id="versions">
    <thead>
      <tr>
        <th style="width: 20%;">
          Versions
        </th>
        <th style="width: 20%;" class="info">
          High Buyer
        </th>
        <th style="width: 20%;" class="danger">
          Low Seller
        </th>
        <% if @user.present? %>
          <th style="width: 8%;" >
            <%= image_tag('DD.png', height: "20px", title: "DrawDiscard") %>
          </th>
          <th style="width: 8%;" >
            <%= image_tag('arrowDD.png', height: "20px", title: "Depositing") %>
          </th>
          <th style="width: 8%;" >
            <%= image_tag('arrowM.png', height: "20px", title: "Withdrawing") %>
          </th>
          <th style="width: %;" >
            <%= image_tag('forSale.png', height: "20px", title: "Selling") %>
          </th>
          <th style="width: 8%;" >
            <%= image_tag('bids.png', height: "20px", title: "Buying") %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @versions.each do |card| %>
        <% version_string = card.name+", "+card.set_name+(card.foil ? ", Foil" : "") %>
        <tr <%= ( card.mtgo_id == @object.mtgo_id ? "class=success" : "" ) %> >
          <td class="">
            <%= link_to magic_set_magic_card_path(card.code, card.mtgo_id), title: version_string do %>
              <%= card.code.gsub(/_/,"") %>
              <%= (card.foil ? " - Foil" : "" ) %>
              <%= (card.name.include?("(Alt.)") ? " - (Alt.)" : "" ) %>
            <% end %>
          </td>
          <td>
            <%= ( !card.buying_price.nil? ? "$"+card.buying_price.to_s : "" ) %>
          </td>
          <td>
            <%= ( !card.selling_price.nil? ? "$"+card.selling_price.to_s : "" ) %>
          </td>
          <% if @user.present? %>
            <td >
              <%= ( card.online > 0 ? card.online : "" ) %> 
            </td>
            <td >
              <%= ( card.depositing > 0 ? card.depositing : "" ) %> 
            </td>
            <td >
              <%= ( card.withdrawing > 0 ? card.withdrawing : "" ) %> 
            </td>
            <td  >
              <%= ( card.selling > 0 ? card.selling : "" ) %> 
            </td>
            <td  >
              <%= ( card.buying > 0 ? card.buying : "" ) %> 
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>