<% provide(:title, @object.name ) %>
<% provide(:header, ((link_to image_tag(set_rarity_image(@set.code, @object.rarity), title: @set.name), magic_set_path(@set.code)) + " " + @object.name + " " + (@object.foil ? image_tag("foil.png", height: "30px", title: "Foil") : "")).html_safe ) %>
<div class="container">
  <div class="row">
    <% if @object.object_type != "planar" %>
      <div class="col-xs-4 col-sm-4 col-lg-3 card-holder">
        <%= image_tag(card_image(@object), width: "100%", class: "card-holder card-image") %><br>
        <strong class="inverse">MTGO ID:</strong>: <span class="inverse"> <%= @object.mtgo_id %> </span> <br>
        <%= "<strong class='inverse'>Collector #</strong>:  <span class='inverse'> #{@object.collector_number} </span>".html_safe if @object.collector_number.present? %><br>
        <% if @user.present? %>
          <button class="btn btn-primary" id="new_transaction"> New Transaction </button>
          <button class="btn btn-primary" id="open_transactions"> Active Transactions </button>
          <%= render 'magic_cards/transaction_form_modal' %>
          <%= render 'magic_cards/open_transactions_modal' %>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-8 col-lg-9" id="graph_partial">
        <%= render 'magic_cards/price_graph' %>
      </div>
    <% else %>
      <div class="col-xs-12 col-sm-5">
        <%= image_tag(card_image(@object), width: "100%", class: "") %><br>
        <strong class="inverse">MTGO ID:</strong>: <span class="inverse"> <%= @object.mtgo_id %> </span> <br>
        <%= "<strong class='inverse'>Collector #</strong>:  <span class='inverse'> #{@object.collector_number} </span>".html_safe if @object.collector_number.present? %><br>
        <% if @user.present? %>
          <button class="btn btn-primary" id="new_transaction"> New Transaction </button>
          <button class="btn btn-primary" id="open_transactions"> Active Transactions </button>
          <%= render 'magic_cards/transaction_form_modal' %>
          <%= render 'magic_cards/open_transactions_modal' %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-7" id="graph_partial">
        <%= render 'magic_cards/price_graph' %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-6" id="table_partial">
      <%= render 'magic_cards/price_table' %>
    </div>
    <% if @versions.count > 1 || @user.present %>
      <div class="col-md-12 col-lg-6" id="versions_partial">
        <%= render 'magic_cards/versions' %>
      </div>
    <% end %>
  </div>
</div>

<div id="ajax">
</div>

<script>
$(document).ready(function () {
    // will call refreshPartial every 3 seconds
    setInterval(refreshData, 10000)

});

function refreshData() {
  transactions_table.draw();
  $.ajax({
    url: window.location.href,
    success: function(data) {
      var html = $('<div />').append(data);
      // $("#graph_partial").html( html.find("#graph_partial").html() );       
      $("#table_partial").html( html.find("#table_partial").html() );       
      $("#versions_partial").html( html.find("#versions_partial").html() );
      $("span.wallet").html( html.find("span.wallet").first().text().trim() )
      $("#rails_count").html( html.find("#rails_count").html() );       
      $("#price").trigger("input");
    }
  })
}


</script>
