<% provide(:title, "Reset Password") %>
<% provide(:header_image, "RESET PASSWORD") %>
<div class="container">
  <div class="col-sm-5">
    <div class="panel panel-info">
      <div class="panel-heading">
        Reset Password
      </div>
      <% if params[:reset_view] %>
        <%= form_tag reset_password_path, method: :post, id: "form-reset_password" do %>
          <div class="panel-body">
            <div class="form-group">
              <%= label_tag 'email', "Email Address", class: "control-label" %>
              <%= email_field_tag 'email',  params[:email] ||= nil, class: "form-control" %>
            </div>
            <input style="display:none" type="password" name="autocomplete_off"/>
            <div class="form-group">
              <%= label_tag 'reset_code', "Reset Code", class: "control-label" %>
              <%= password_field_tag 'reset_code', params[:reset_code] ||= nil, class: "form-control", autofocus: (params[:reset_code].blank?) %>     
            </div>
            <div class="form-group">
              <%= label_tag 'password', "Password", class: "control-label" %>
              <%= password_field_tag 'password', nil, class: "form-control", autofocus: (!params[:reset_code].blank?) %>     
            </div>
            <div class="form-group">
              <%= label_tag 'password_confirmation', "Confirm Password", class: "control-label" %>
              <%= password_field_tag 'password_confirmation', nil, class: "form-control" %>     
            </div>
          </div>
          <div class="panel-footer">
            <%= submit_tag "Reset Password", class: "btn btn-info", id: "submit-reset-password" %>
            <%= submit_tag "Re-send Password Reset Email", class: "btn btn-warning", id: "submit-re-send-email" %>
          </div>
        <% end %>
      <% else %>
        <%= form_tag reset_password_path, method: :post, id: "form-reset_password_send_email" do %>
          <div class="panel-body">
            <div class="form-group">
              <%= label_tag 'email', "Email Address", class: "control-label" %>
              <%= email_field_tag 'email', nil, class: "form-control", autofocus: true %>
            </div>
          </div>
          <div class="panel-footer">
            <%= submit_tag "Send Password Reset Email", class: "btn btn-warning" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  $('#form-reset_password_send_email').bootstrapValidator({
    feedbackIcons: {
      valid: 'glyphicon glyphicon-ok',
      invalid: 'glyphicon glyphicon-remove',
      validating: 'glyphicon glyphicon-refresh'
    },
    fields: {
      email: {
        validators: {
          notEmpty: {
            message: 'The email address is required and cannot be empty'
          },
          emailAddress: {
            message: 'The email address is not valid'
          }
        }
      }
    }
  });
  $('#form-reset_password').bootstrapValidator({
    feedbackIcons: {
      valid: 'glyphicon glyphicon-ok',
      invalid: 'glyphicon glyphicon-remove',
      validating: 'glyphicon glyphicon-refresh'
    },
    fields: {
      email: {
        enabled: true,
        onError: function(e,data){
          document.getElementById('submit-re-send-email').disabled = true;
        },
        onSuccess: function(e,data){
          document.getElementById('submit-re-send-email').disabled = false;
        },
        validators: {
          notEmpty: {
            message: 'The email address is required and cannot be empty'
          },
          emailAddress: {
            message: 'The email address is not valid'
          }
        }
      },
      reset_code: {
        validators: {
          notEmpty: {
            message: 'The reset code is required and cannot be empty'
          },
          stringLength: {
            min: 22,
            max: 22,
            message: 'Incorrect size'
          }
        }
      },
      password: {
        validators: {
          notEmpty: {
            message: 'The password is required and cannot be empty'
          },
          stringLength: {
            min: 8,
            message: 'The password must have at least 8 characters'
          }
        }
      },
      password_confirmation: {
        validators: {
          notEmpty: {
            message: 'The password confirmation is required and cannot be empty'
          },
          stringLength: {
            min: 8,
            message: 'The password confirmation must have at least 8 characters'
          },
          identical: {
            field: 'password',
            message: "The password and the password confirmation must be the same"
          }
        }
      }
    },
    submitButtons: 'input[id="submit-reset-password"]'
  })
  $(document.getElementById('submit-reset-password')).on('click', function() {
    $('#form-reset_password').bootstrapValidator('enableFieldValidators', 'reset_code', true)
    $('#form-reset_password').bootstrapValidator('enableFieldValidators', 'password', true)
    $('#form-reset_password').bootstrapValidator('enableFieldValidators', 'password_confirmation', true)
  });
  $(document.getElementById('submit-re-send-email')).on('click', function() {
    $('#form-reset_password').bootstrapValidator('enableFieldValidators', 'reset_code', false)
    $('#form-reset_password').bootstrapValidator('enableFieldValidators', 'password', false)
    $('#form-reset_password').bootstrapValidator('enableFieldValidators', 'password_confirmation', false)
  });
});
</script>




