<% provide(:title, "Transfers") %>
<% provide(:header, "TRANSFERS") %>
<div class="container">
  <ul class="nav nav-pills">
    <li role="presentation" class="active">
      <a href="#transfers" id="transfers_tab" data-toggle="tab" aria-controls="transfers" aria-expanded="true">
        Transfers
      </a>
    </li>
    <li>
      <a href="#history" id="transfers_tab" data-toggle="tab" aria-controls="history" aria-expanded="false">
        History
      </a>
    </li>
  </ul>
</div>
<div id="tabcontainer" class="tab-content container">
  <div role="tabpanel" class="tab-pane active in" id="transfers" aria-labelledby="transfers_tab">
    <br>
    <div class="col-xs-6 col-md-3" >
      <div class="panel panel-default" style="height: 500px;">
        <div class="panel-heading">        
          <strong>
            Magic Account
          </strong>
        </div>
        <div class="panel-body" style="height: 402px;">   
          <div class="btn-group-vertical btn-block" data-toggle="buttons" id="account_selector">
            <% @magic_accounts.each do |account| %>
              <label class="btn btn-default">
                <input type="radio" name="gender" value="<%= account.name %>" class="" /> 
                  <%= account.name %>
              </label>
            <% end %>
          </div>
          <div>
            <br>
          </div>
        </div>
        <div class="panel-footer" >
          <div class="btn-group-vertical btn-block">        
            <button class="btn btn-danger" id="clear">
              <span>Clear</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-default" style="height: 500px;">
        <div class="panel-heading">        
          <strong>Card Search</strong>
        </div>
        <div class="panel-body" style="height:403px;">
          <input type="text" class="form-control" id="card_name" placeholder="Name">
          <br>
          <div id="results">
            <selector id="card_selector"> </selector>
          </div>
        </div>
        <div class="panel-footer">
          <div class="btn-group btn-group-justified">
            <div class="btn-group">       
              <button class="btn btn-primary disabled" id="deposit_button">
                <span>Deposit</span>
              </button>
            </div>
            <div class="btn-group">       
              <button class="btn btn-warning disabled" id="withdraw_button">
                <span>Withdraw</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-default" style="height: 500px;">
        <div class="panel-heading">    
          <div class="row">
            <div class="col-xs-6">
              <%= image_tag('arrowDD.png', height: "20px", title: "Depositing") %>
              <strong style="margin-left: 5px;"> Depositing</strong>
              <span class="pull-right">/400</span>
              <span class="pull-right" id="depositing_count_data"></span>
            </div>
            <div class="col-xs-6">
              <%= image_tag('arrowM.png', height: "20px", title: "Withdrawing") %>
              <strong style="margin-left: 5px;"> Withdrawing</strong>
              <span class="pull-right">/400</span>
              <span class="pull-right" id="withdrawing_count_data"></span>
            </div>
          </div>
        </div>
        <div class="panel-body" id="tickets" style="padding-top: 5px; padding-bottom: 5px; border-bottom: 1px; height: 31px;">
          <div class="hidden" id="ticket_direction"></div>
          <div class="row">
            <div class="col-xs-2">
              <strong>Tickets</strong>
            </div>
            <div class="col-xs-8">
              <p class="text-center" style="margin-bottom: 0px">
                <%= image_tag('arrowDD.png', height: "20px", title: "Depositing", class: "hidden", id: "ticket_depositing_icon") %>
                <%= image_tag('arrowM.png', height: "20px", title: "Withdrawing", class: "hidden", id: "ticket_withdrawing_icon") %>
              </p>
            </div>
            <div class="col-xs-2">
              <span class="pull-right" id="ticket_transfer_quantity"></span>
            </div>
          </div>
        </div>
        <div class="row" style="height: 371px !important;">
          <div class="col-xs-6" style="padding-right: 0px;">
            <div id="depositing_data" style="height: 371px !important;"> </div>
          </div>
          <div class="col-xs-6" style="padding-left: 0px;">
            <div id="withdrawing_data" style="height: 371px !important;"> </div>
          </div>
        </div>
        <div class="panel-footer" style="height: 55px; padding: 3px;">
        
            <div class="col-xs-6" id="edit_selected_details" style="padding: 3px;">
            </div>
            
            <div class="col-xs-1" style="padding: 3px;">
              <div class="row">
                <div class="col-xs-12">
                  <img height='20px' src='/assets/DD.png' title='DrawDiscard' class="hidden" id="edit_dd_icon">
                </div>
              </div>
              <div class="row">
                <div id="edit_online_count" class="col-xs-12">
                </div>
              </div>
            </div>

            <form class="form-inline" id="edit_transfer" style="width: 100%;">
              <div class="col-xs-2" style="padding-left: 3px; padding-right: 3px; padding-top: 5px">
                  <div class="form-group form-group-sm pull-right" style="width: 68px; margin: 0px;">
                    <input type="number" name="edit_selected_quantity" id="edit_selected_quantity" class="form-control hidden" min="1" max="400" style="width: 68px;">
                  </div>
              </div>

              <div class="col-xs-1 hidden edit_button" id="edit_ok" style="padding-left: 3px; padding-right: 3px; padding-top: 5px">
                <button class="btn btn-xs btn-success hidden" type="submit" id="edit_ok" style="width: 100%; height: 34px;" title="Update Quantity">
                  <span class="glyphicon glyphicon-ok"></span>
                </button>
              </div>
              <div class="col-xs-1 hidden edit_button" id="edit_deposit" style="padding-left: 3px; padding-right: 3px; padding-top: 5px">
                <button class="btn btn-xs btn-primary hidden" type="button" id="edit_deposit" style="width: 100%; height: 34px;" title="Deposit">
                  <span>
                    <%= image_tag('arrowDD.png', height: "15px") %>
                  </span>
                </button>
              </div>
              <div class="col-xs-1 hidden edit_button" id="edit_withdraw" style="padding-left: 3px; padding-right: 3px; padding-top: 5px">
                <button class="btn btn-xs btn-warning hidden" type="button" id="edit_withdraw" style="width: 100%; height: 34px;" title="Withdraw">
                  <span >
                    <%= image_tag('arrowM.png', height: "15px") %>
                  </span>
                </button>
              </div>
              <div class="col-xs-1 hidden edit_button" id="edit_remove" style="padding-left: 3px; padding-right: 3px; padding-top: 5px" >
                <button class="btn btn-xs btn-danger hidden" type="button" id="edit_remove" style="width: 100%; height: 34px;" title="Clear">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </div>
            </form>

        </div>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="history" aria-labelledby="history_tab">
  </div>
</div>
<div id="in_trade_message" class="hidden">
  
</div>
<div id="transfer_data_script" class="hidden"></div>

<script>
var card_selection_complete = false;
var account;
var selected_card;
var selected_set;
var selected_foil;
var online_count;
var deposit_count;
var withdraw_count;

function in_trade() {
  $.ajax ({
    url: "/users/"+<%=@user.id%>+"/get_transfer_data?magic_account="+account,
    dataType: "html",
    type: "GET",
    success: function( data ) {
      var html = $('<div />').append(data);
      if ( html.find('#in_trade').text().trim() === "yes"  ) {
        $("#clear").addClass("disabled");
        $("#deposit_button").addClass("disabled");
        $("#withdraw_button").addClass("disabled");
        $("#edit_ok").addClass("disabled");
        $("#edit_deposit").addClass("disabled");
        $("#edit_withdraw").addClass("disabled");
        $("#edit_remove").addClass("disabled");
        $("#in_trade_message").removeClass("hidden");
      } else {
        $("#in_trade_message").addClass("hidden");
      }
    }
  })
}

function update_transfer() {
  $("#deposit_button").addClass("disabled");
  $("#withdraw_button").addClass("disabled");
  account = $("#account_selector :checked").val();
  deposit_count = parseInt($("#depositing_count_data").text());
  withdraw_count = parseInt($("#withdrawing_count_data").text());
  if (card_selection_complete == true) {
    selected_card = $("#card_selector option:selected").text().trim();
    selected_set = $("#set_selector option:selected").text().trim();
    $.ajax({
      url: "/users/"+<%=@user.id%>+"/transfer_check_card?magic_account="+account+";card="+selected_card+";set="+selected_set+";foil="+selected_foil,
      dataType: "html",
      type: "GET",
      success: function(data) {
        var html = $('<div />').append(data);
        var already_transfering = html.find("#transfering").text().trim();
        var online_copy = html.find("#online").text().trim();
        if ( (deposit_count < 400) && (already_transfering == "no") ) {
          $("#deposit_button").removeClass("disabled");
        }
        if ( (withdraw_count < 400) && (already_transfering == "no") && (online_copy == "yes") ) {
          $("#withdraw_button").removeClass("disabled");
        }
        if (already_transfering == "yes") {
          var link = html.find("#link a")[0].pathname;
          var row = $("a[href='"+link+"']").closest("tr");
          row.trigger("click");
          var table = row.closest("div");
          var pos = row.position().top;
          $(table).animate({
            scrollTop: $(table).scrollTop()+pos
          })
          card_selection_complete = true;
        }
      },
      error: function ( ) {
        console.log("ajax error");
        $("#transfer_error_modal").modal("show");
      }
    })
  }
  if ($("#tickets").css('background-color') == "rgb(217, 237, 247)" ) {
    $("#tickets").trigger("click");
  }
}

  var card_search = "";
  var timeout;

  $("#card_name").on('keydown keyup keypress change input', function(){
    window.clearTimeout(timeout);
    timeout = window.setTimeout( function () {
      livesearch();
    }, 250)
  });

  function livesearch() {
    search = $("#card_name").val().trim();
    if ( (search.length >= 3) && (search != card_search) ) {
      $.ajax({
        url: "/livesearch?search="+search,
        dataType: "html",
        type: "GET",
        success: function (data) {
          var html = $('<div />').append(data);
          if ( html.find("#live_search_success_key").text().trim() !== "success" ) {
            $("#transfer_error_modal").modal("show");
          }
          $("#results").html(html);
        },      
        error: function ( ) {
          console.log("ajax error");
          $("#transfer_error_modal").modal("show");
        }
      })
      card_search = search;
    } else { 
      if (search.length < 3) {
        $("#results").empty();
        card_search = "";
      }
    } 
  }

  $("#account_selector").change( function() {
    var account = $("#account_selector :checked").val();
    $.ajax({
      url: "/users/"+<%=@user.id%>+"/get_transfer_data?magic_account="+account,
      dataType: "html",
      type: "GET",
      success: function( data ) {
        var html = $('<div />').append(data);
        if ( html.find("#transfer_data_success_key").text().trim() !== "success" ) {
          $("#transfer_error_modal").modal("show");
        }
        $("#depositing_count_data").empty();
        $("#depositing_count_data").replaceWith( html.find('#depositing_count').html() );
        $("#depositing_data").empty();
        $("#depositing_data").replaceWith( html.find('#depositing_list').html() );
        $("#withdrawing_count_data").empty();
        $("#withdrawing_count_data").replaceWith( html.find('#withdrawing_count').html() );
        $("#withdrawing_data").empty();
        $("#withdrawing_data").replaceWith( html.find('#withdrawing_list').html() );
        $("#ticket_depositing_icon").addClass("hidden");
        $("#ticket_withdrawing_icon").addClass("hidden");
        $("#ticket_direction").html('');
        if ( html.find("#ticket_transfer_direction").text().trim() === "deposit" ) {
          $("#ticket_direction").html('depositing_tickets');
          $("#ticket_depositing_icon").removeClass("hidden");
        } 
        if ( html.find("#ticket_transfer_direction").text().trim() === "withdraw" ) {
          $("#ticket_direction").html('withdrawing_tickets');
          $("#ticket_withdrawing_icon").removeClass("hidden");
        }
        $("#ticket_transfer_quantity").empty();
        $("#ticket_transfer_quantity").html( html.find('#ticket_transfer_quantity').html() );
        $("#edit_selected_quantity").addClass("hidden");
        $("#edit_deposit").addClass("hidden");
        $("#edit_withdraw").addClass("hidden");
        $("#edit_ok").addClass("hidden");
        $("#edit_remove").addClass("hidden");
        $("#edit_selected_details").html("");
        $("#edit_dd_icon").addClass("hidden");
        $("#edit_online_count").html("");
        $("#transfer_data_script").html( html.find("#transfer_data_script").html() );
        update_transfer();

      },      
      error: function ( ) {
        console.log("ajax error");
        $("#transfer_error_modal").modal("show");
      }
    });
  });

  $("#deposit_button").on("click submit", function(e){
    e.stopPropagation();
    $.ajax({
      url: "/users/"+<%=@user.id%>+"/post_transfer_data?direction=deposit;magic_account="+account+";card="+selected_card+";set="+selected_set+";foil="+selected_foil,
      dataType: "html",
      type: "GET",
      success: function( data ) {
        var html = $('<div />').append(data);
        if ( html.find("#transfer_data_success_key").text().trim() !== "success" ) {
          $("#transfer_error_modal").modal("show");
        }
        $("#depositing_count_data").empty();
        $("#depositing_count_data").replaceWith( html.find('#depositing_count').html() );
        $("#depositing_data").empty();
        $("#depositing_data").replaceWith( html.find('#depositing_list').html() );
        $("#transfer_data_script").html( html.find("#transfer_data_script").html() );
        update_transfer();
      },
      error: function ( ) {
        console.log("ajax error");
        $("#transfer_error_modal").modal("show");
      }
    })
  });

  $("#withdraw_button").on("click submit", function(e){
    e.stopPropagation();
    $.ajax({
      url: "/users/"+<%=@user.id%>+"/post_transfer_data?direction=withdraw;magic_account="+account+";card="+selected_card+";set="+selected_set+";foil="+selected_foil,
      dataType: "html",
      type: "GET",
      success: function( data ) {
        var html = $('<div />').append(data)
        if ( html.find("#transfer_data_success_key").text().trim() !== "success" ) {
          $("#transfer_error_modal").modal("show");
        }
        $("#withdrawing_count_data").empty();
        $("#withdrawing_count_data").replaceWith( html.find('#withdrawing_count').html() );
        $("#withdrawing_data").empty();
        $("#withdrawing_data").replaceWith( html.find('#withdrawing_list').html() );
        $("#transfer_data_script").html( html.find("#transfer_data_script").html() );
        update_transfer();
      },
      error: function ( ) {
        console.log("ajax error");
        $("#transfer_error_modal").modal("show");
      }
    })
  });

  $('#edit_transfer').bootstrapValidator({
    framework: 'bootstrap',
    fields: {
      edit_selected_quantity: {
        validators: {
          notEmpty: {
            message: 'Quantity cannot be empty.'
          },
          integer: {
            message: "Quantity is not a valid integer"
          },
          between: {
            min: 1,
            max: 400,
            message: "Quantity must be between 1 and 400"
          },
          callback: {
            callback: function (value, validator, $field) {
              value = parseInt(value);
              online_count = parseInt(online_count);
              var prev_value;
              var direction;
              if ($("#edit_selected_details").text().trim() === "Tickets") {
                prev_value = parseInt($("#ticket_transfer_quantity").text().trim());
                if ( $("#ticket_direction").text().trim() === "depositing_tickets" ) {
                  direction = "depositing_data";
                } else {
                  if ( $("#ticket_direction").text().trim() === "withdrawing_tickets" ) {
                    direction = "withdrawing_data";
                  } else {
                    direction = "";
                  }
                }
              } else {
                prev_value = parseInt($("tr.info").find('#edit_quantity').text().trim());
                direction = $("tr.info").closest('div').attr("id");
              }
              if ( direction === "depositing_data" ) {
                // ok button
                if ((value - prev_value + deposit_count) > 400) {
                  $("button#edit_ok").addClass("disabled");
                } else {
                  $("button#edit_ok").removeClass("disabled");
                }
                //withdraw button
                if ( ((value + withdraw_count) > 400) || (online_count < value) ) {
                  $("button#edit_withdraw").addClass("disabled");
                } else {
                  $("button#edit_withdraw").removeClass("disabled");
                }
              } else { 
                if ( direction === "withdrawing_data" ) { 
                  // ok button
                  if ( ((value - prev_value + withdraw_count) > 400) || (online_count + prev_value < value) ) {
                    $("button#edit_ok").addClass("disabled");
                  } else {
                    $("button#edit_ok").removeClass("disabled");
                  }
                  //deposit button
                  if ((value + deposit_count) > 400) {
                    $("button#edit_deposit").addClass("disabled");
                  } else {
                    $("button#edit_deposit").removeClass("disabled");
                  }
                } else {
                  //deposit button
                  if ((value + deposit_count) > 400) {
                    $("button#edit_deposit").addClass("disabled");
                  } else {
                    $("button#edit_deposit").removeClass("disabled");
                  }
                  //withdraw button
                  if ( ((value + withdraw_count) > 400) || (online_count < value) ) {
                    $("button#edit_withdraw").addClass("disabled");
                  } else {
                    $("button#edit_withdraw").removeClass("disabled");
                  }
                }
              }
              return {
                message: "Callback",
                valid: true
              }
            }
          }
        },
        onSuccess: function(e, data) {
          $(".form-group.has-success").removeClass("has-success");
          $("button#edit_remove").removeClass("disabled");
        },
        onError: function(e, data) {
          $("button#edit_deposit").addClass("disabled");
          $("button#edit_withdraw").addClass("disabled");
          $("button#edit_remove").removeClass("disabled");
        }
      }
    }
  })
  .on('success.form.bv', function(e) {
    e.preventDefault();
  });

  $(".edit_button button").on("click submit", function(e) {

    $("button").addClass("disabled");
    $("button.email").removeClass("disabled");
    $("button.nav_search").removeClass("disabled");
    $("button.new_tab_submit").removeClass("disabled");
    $("button#foil_button").removeClass("disabled");
    $("button#normal_button").removeClass("disabled");

    var edit_type = this.id;
    var edit_quantity = $("#edit_selected_quantity").val();
    var edit_foil = "";
    if ( $("#edit_selected_details strong").text().trim() === "F" ) {
      edit_foil = "foil" ;
    }
    var edit_card = $("#edit_selected_details").html().split('<br>')[0].replace(" <strong></strong>", "").replace(" <strong>F</strong>", "");
    var edit_set = $("#edit_selected_details").html().split('<br>')[1];
    var edit_link = "";
    if ( edit_card !== "Tickets" ) {
      edit_link = $("tr.info a")[0].pathname;
    }
    $.ajax({
      url: "/users/"+<%=@user.id%>+"/transfer_edit?magic_account="+account+";edit_type="+edit_type+";quantity="+edit_quantity+";card="+edit_card+";set="+edit_set+";foil="+edit_foil,
      dataType: "html",
      type: "GET",
      success: function( data ) {
        var html = $('<div />').append(data)
        if ( html.find("#transfer_data_success_key").text().trim() !== "success" ) {
          $("#transfer_error_modal").modal("show");
        }
        $("#depositing_count_data").empty();
        $("#depositing_count_data").replaceWith( html.find('#depositing_count').html() );
        $("#depositing_data").empty();
        $("#depositing_data").replaceWith( html.find('#depositing_list').html() );
        $("#withdrawing_count_data").empty();
        $("#withdrawing_count_data").replaceWith( html.find('#withdrawing_count').html() );
        $("#withdrawing_data").empty();
        $("#withdrawing_data").replaceWith( html.find('#withdrawing_list').html() );
        $("#ticket_depositing_icon").addClass("hidden");
        $("#ticket_withdrawing_icon").addClass("hidden");
        $("#ticket_direction").html('');
        if ( html.find("#ticket_transfer_direction").text().trim() === "deposit" ) {
          $("#ticket_direction").html('depositing_tickets');
          $("#ticket_depositing_icon").removeClass("hidden");
        } 
        if ( html.find("#ticket_transfer_direction").text().trim() === "withdraw" ) {
          $("#ticket_direction").html('withdrawing_tickets');
          $("#ticket_withdrawing_icon").removeClass("hidden");
        }
        $("#ticket_transfer_quantity").empty();
        $("#ticket_transfer_quantity").html( html.find('#ticket_transfer_quantity').html() );
        $("#edit_selected_quantity").addClass("hidden");
        $("#edit_deposit").addClass("hidden");
        $("#edit_withdraw").addClass("hidden");
        $("#edit_ok").addClass("hidden");
        $("#edit_remove").addClass("hidden");
        $("#edit_selected_details").html("");
        $("#edit_dd_icon").addClass("hidden");
        $("#edit_online_count").html("");
        $("span.wallet").html( html.find("#wallet_update").text().trim() )
        $("#transfer_data_script").html( html.find("#transfer_data_script").html() );
        if (edit_card !== "Tickets") {
          if (edit_type === "edit_remove") {
            $("#set_selector").trigger("change");
            $("#foil_button").removeClass("disabled");
            $("#normal_button").removeClass("disabled");
          } else {
            var row = $("a[href='"+edit_link+"']").closest("tr");
            row.trigger("click");
            var table = row.closest("div");
            var pos = row.position().top;
            $(table).animate({
              scrollTop: $(table).scrollTop()+pos
            })
          }
        } else {
          $("#tickets").trigger("click");
        }
        $("button#clear").removeClass("disabled");
        $("button#confirmed_clear").removeClass("disabled");
        update_transfer();
      },
      error: function ( ) {
        console.log("ajax error");
        $("#transfer_error_modal").modal("show");
      }
    })
    $("button#edit_remove").removeClass("disabled");

  })

  $("#tickets").on("click", function() {
    card_selection_complete = false;
    $("tr").removeClass("info");
    $(this).css('background-color', '#d9edf7');
    var ticket_direction = $("#ticket_direction").text().trim();
    $(".edit_button").removeClass("hidden");
    $("button").removeClass("hidden");
    if ( ticket_direction === "depositing_tickets" ) {
      $("#edit_deposit").addClass("hidden");
    } else {
      if ( ticket_direction === "withdrawing_tickets" ) {
        $("#edit_withdraw").addClass("hidden");
      } else {
        $("#edit_ok").addClass("hidden");
      }
    }
    $("#edit_dd_icon").addClass("hidden");
    $("#edit_online_count").addClass("hidden");
 
    online_count = $("span.wallet:first").text().trim().split(".")[0].slice(1)
    $("#edit_online_count").html(online_count);

    $("#edit_selected_details").html("Tickets<br>");
    $("#edit_selected_quantity").val( $("#ticket_transfer_quantity").text().trim() );
    $("#edit_selected_quantity").removeClass("hidden");
    $('#edit_selected_quantity').trigger("input");

  })

  $('.help-block').addClass("hidden");
  $("#account_selector input:radio:first").trigger('click');
  $("#card_name").trigger("change");

  $("body").on("change", function() {
    in_trade();
  });

</script>

<%= render 'transfer_error_modal' %>
<%= render 'transfer_confirm_clear_modal' %>
