<div class="container" style="height: 65px;">
  <% if !yield(:header_image).empty? %>
    <div class="row">
      <div class="col-xs-12 text-center page-title treamd-40">
        <%= yield(:header_image) %>
      </div>
    </div>
  <% end %>
  <% if !yield(:header).empty? %>
    <div class="row">
      <div class="col-xs-12 text-center page-title treamd-40">
        <%= yield(:header) %>
      </div>
    </div>
  <% end %>
  <% if (!yield(:header).empty? || !yield(:header_image).empty?) && @user.present? %>
    <div class="wallet">
      <div class="panel panel-success">
        <div class="panel-heading">
          <!-- <%= image_tag('DD.png', height: "20px", title: "DrawDiscard") %> -->
          <!-- <%= image_tag('tickets.png', height: "30px", title: "Tickets", style: "margin-top: -12px; margin-bottom: -10px; margin-left: -8px;") %> -->
          <!-- <%= image_tag('ticket.png', height: "40px", title: "Tickets", style: "margin-top: -10px; margin-bottom: -10px;") %> -->
          $<%= @user.wallet.to_s %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% if !yield(:header).empty? || !yield(:header_image).empty? %>
  <div class="container-fluid">
    <div class="row">
      <div class="divider">
      </div>
    </div>
  </div>
<% end %>

