<div id="wallet_modal" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content panel-success">
      <div class="modal-header panel-heading ">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title ">Tickets</h4>        
      </div>
      <table class="table table-condensed" style="margin-bottom: 0px;">
        <tbody>
          <tr>
            <td>
              <%= image_tag('DD.png', height: "20px", title: "DrawDiscard") %>
            </td>
            <td align="right">
              $<%=@user.wallet %>
            </td>
          </tr>
          <% @user.magic_accounts.each do |account| %>
            <tr>
              <td>
                <%= image_tag('M.png', height: "20px", title: "MTGO") %>
                <strong><%= account.name %></strong>
              </td>
              <td align="right">
                $<%= account.wallet %> 
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if @user.wallet == 0.0 %>
        <div class="modal-footer">
          <span class="pull-left"> Deposit tickets on the <%= link_to 'transfer', user_transfers_path(@user) %> page. </span>
        </div>
      <% end %>
    </div>
  </div>
</div>

