<!DOCTYPE html>
<html>
<head>
  <title>DrawDiscard | <%= yield(:title) %> </title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <!-- <meta name="viewport" content="width=device-width"> -->
</head>
<body>

<%= render "layouts/navbar" %>
<%= render "layouts/header" %>
<%= render "layouts/flash" %>
<%= yield %>
<%#= debug(params) if Rails.env.development? %>
<%= render "layouts/footer" %>

<% unless logged_in? %>
  <%= render "layouts/sign_in_modal" %>
  <%= render "layouts/register_modal" %>
<% end %>

</body>
</html>

